WpfAgroStoreApp/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfvwSupplier">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="vwSupplier" nillable="true" type="tns:vwSupplier" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfvwSupplier" nillable="true" type="tns:ArrayOfvwSupplier" />
  <xs:complexType name="vwSupplier">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupplierID" type="xs:int" />
      <xs:element minOccurs="0" name="SupplierName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="vwSupplier" nillable="true" type="tns:vwSupplier" />
  <xs:complexType name="ArrayOfvwCustomer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="vwCustomer" nillable="true" type="tns:vwCustomer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfvwCustomer" nillable="true" type="tns:ArrayOfvwCustomer" />
  <xs:complexType name="vwCustomer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerID" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="vwCustomer" nillable="true" type="tns:vwCustomer" />
  <xs:complexType name="ArrayOfvwCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="vwCategory" nillable="true" type="tns:vwCategory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfvwCategory" nillable="true" type="tns:ArrayOfvwCategory" />
  <xs:complexType name="vwCategory">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CategoryID" type="xs:int" />
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="vwCategory" nillable="true" type="tns:vwCategory" />
  <xs:complexType name="ArrayOfvwProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="vwProduct" nillable="true" type="tns:vwProduct" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfvwProduct" nillable="true" type="tns:ArrayOfvwProduct" />
  <xs:complexType name="vwProduct">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryID" type="xs:int" />
      <xs:element minOccurs="0" name="Expr1" type="xs:int" />
      <xs:element minOccurs="0" name="Expr2" type="xs:int" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProductDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductID" type="xs:int" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupplierID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="vwProduct" nillable="true" type="tns:vwProduct" />
  <xs:complexType name="ArrayOfvwPayment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="vwPayment" nillable="true" type="tns:vwPayment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfvwPayment" nillable="true" type="tns:ArrayOfvwPayment" />
  <xs:complexType name="vwPayment">
    <xs:sequence>
      <xs:element minOccurs="0" name="PaymentID" type="xs:int" />
      <xs:element minOccurs="0" name="PaymentType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="vwPayment" nillable="true" type="tns:vwPayment" />
  <xs:complexType name="ArrayOfvwCarrier">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="vwCarrier" nillable="true" type="tns:vwCarrier" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfvwCarrier" nillable="true" type="tns:ArrayOfvwCarrier" />
  <xs:complexType name="vwCarrier">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CarrierID" type="xs:int" />
      <xs:element minOccurs="0" name="CarrierName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="vwCarrier" nillable="true" type="tns:vwCarrier" />
  <xs:complexType name="ArrayOfvwOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="vwOrder" nillable="true" type="tns:vwOrder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfvwOrder" nillable="true" type="tns:ArrayOfvwOrder" />
  <xs:complexType name="vwOrder">
    <xs:sequence>
      <xs:element minOccurs="0" name="CarrierID" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerID" type="xs:int" />
      <xs:element minOccurs="0" name="Expr1" type="xs:int" />
      <xs:element minOccurs="0" name="Expr2" type="xs:int" />
      <xs:element minOccurs="0" name="Expr3" type="xs:int" />
      <xs:element minOccurs="0" name="OrderDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrderID" type="xs:int" />
      <xs:element minOccurs="0" name="Paid" type="xs:boolean" />
      <xs:element minOccurs="0" name="PaidDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PaymentID" type="xs:int" />
      <xs:element minOccurs="0" name="ShipDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="vwOrder" nillable="true" type="tns:vwOrder" />
  <xs:complexType name="ArrayOfvwOrderDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="vwOrderDetails" nillable="true" type="tns:vwOrderDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfvwOrderDetails" nillable="true" type="tns:ArrayOfvwOrderDetails" />
  <xs:complexType name="vwOrderDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Discount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Expr1" type="xs:int" />
      <xs:element minOccurs="0" name="Expr2" type="xs:int" />
      <xs:element minOccurs="0" name="OrderDetailsID" type="xs:int" />
      <xs:element minOccurs="0" name="OrderID" type="xs:int" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProductID" type="xs:int" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="vwOrderDetails" nillable="true" type="tns:vwOrderDetails" />
</xs:schema>